<div class='card mb-6'>
    <header class='card-header card-header-title text-white bg-secondary'>

        <div class='col-6'>
            <p class='text-white'></p>
            <a href='/blogs/{{id}}' class='text-black justify-content-end text-capitalized'>{{title}}</a>
        </div>

        <div class='col-9'>
            <span class=''></span>
        </div>
    </header>

    <div class='card-content'>
        <div class='content text-center'>{{content}}</div>
        <div class='d-flex justify-content-end'>
            <b>{{user.username}}</b> |
            <a href='https://twitter.com/{{user.twitter}}'><i class='fab fa twitter'></i></a>
            <a href='https://github.com/{{user.github}}'><i class='fab fa github'></i></a>
            | {{format_date created_at}} | <a href='/blogs/{{id}}'>{{comments.length}} {{format_plural "comment"
                comments.length}}</a>
        </div>

    </div>
</div>